.home-header2{

    text-align: center;

  
    z-index: 100;
 
    
    margin: auto;

   padding: 10px;
  
       
}

.img-header-container2 img{
    width: 250px;
    height: 300px;
    object-fit: contain;
    margin-top: 50px;
    
}

.home-header-text2{
    color: white;
}



.home-header{
    display: none;
}

.home-header-text {
    margin: 0px auto;
    margin-top: 80px;
    
   text-align: center;
   
  
        
}


.home-header-text p {
    font-size: small;

    
}

.home-header-text h3 {
   font-size: small;
   font-weight: 600;
}




.button-header{
    width: 250px;
    margin-top: 10px;
}

#overview{
    display: none;
}
@media screen and (min-width: 1000px) {
    
    .home-header-container-start{
        display: none;
    }

    .home-header2{
        display: none;
    }

    .listmob{
        display: none;
    }

   .header-button{
    margin-top: 30px;
    
    background-color: transparent;
    margin-top: 100px;/*esto sacar*/
   }

   .header-button button{
    width: 150px;
   }

   .home-header-container{
    /*height: 350px;*/
   }
   
    .home-header{
        display: flex;
        text-align: center;
       /* margin: 0px auto;*/
      /* position: sticky;*/
        top: 4.1%;/*top hace q qede ok sticky*/
        z-index: 101;
       /* height: 350px;*/
       background-image: none;
      
      position: fixed;
     height: 440px;
    width: 100%;/*sacarle width*/
     border-bottom: 1px solid blue;
     text-align: center;
   
  

                  
    }
/*para que se vea ok abajo de fix*/
    .item-container{
        margin-top: 450px;
    }


    .img-header-container{
        display: flex;
        text-align: center;
        margin: 0 auto;
        /*box-shadow: 60px 10px 50px 70px white inset;*/
       align-items: center;
      /* width: 32%;*/
      width: fit-content;
        height: 430px;
       
      
    }

   #img-headr{
       width: 100%;/*ponerle width 600*/
        height: 500px;
       object-fit: fill;
       margin: 0 auto;
        
    }
    #imag{
        width: 600px;
    }
    .home-header-text {
       
       
       /* width: 60%;*/
      
        margin: 0px auto;
        text-align: center;
       /* background-image: url("pink2.png");*/
        background-size: cover;
       
        background-repeat: no-repeat;
        background-position:center;
        box-shadow: 10px 10px 70px 100px  black inset;
       color: white;
      
       width: 40%;
       
    }

   

  #overview{
    display: block;
    width: 400px;
    height: 150px;
    text-align: center;
    margin: auto;
    background-color: transparent;
  }
    
    .home-header-text h3{
        margin-top: 20%;
        font-weight: 600;
        font-size: 36px;
        background-color: transparent;
        
    }
    .home-header-text p {
        font-weight: 600;
        font-size: small;
        background-color: transparent;
    }
   


  
   

}