.home-header{
   
    text-align: center;
   /* margin: 0px auto;*/
   position: fixed;
  /* top: 6%;/*top hace q qede ok sticky*/
    z-index: 100;
   background-color: white;
    /*margin-top: 20px;*/
    margin: auto;
    width: 100%;
    background-image: url("movie.jpg");
   
   
   
    
}



.img-header-container {
   display: none;
  
    width: 150px;
    height: 150px;
    margin: 0px auto;
    
    object-fit: contain;
    margin-top: 10px;
}

.home-header{
    margin: 0 auto;
    
  

}

.home-header-text {
    margin: 0px auto;
    margin-top: 80px;
    
   text-align: center;
   
  
        
}


.home-header-text p {
    font-size: small;

    
}

.home-header-text h3 {
   font-size: small;
   font-weight: 600;
}




.button-header{
    width: 250px;
    margin-top: 10px;
}

#overview{
    display: none;
}
@media screen and (min-width: 1000px) {
    
   .header-button{
    margin-top: 30px;
   }
    
    .home-header{
        display: flex;
        text-align: center;
       /* margin: 0px auto;*/
       position: sticky;
        top: 4%;/*top hace q qede ok sticky*/
        z-index: 101;
       /* height: 350px;*/
       background-image: none;
      
        
    }
    
    .home-header-text {
       
       
        width: 60%;
      
        margin: 0px auto;
        text-align: center;
        background-image: url("pink2.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position:center;
       /* box-shadow: 10px 0px 50px 0px pink inset;*/
       
    }

  #overview{
    display: block;
    width: 400px;
    height: 150px;
    text-align: center;
    margin: auto;
  }
    
    .home-header-text h3{
        margin-top: 10%;
        font-weight: 600;
        font-size: large;
    }
    .home-header-text p {
        font-weight: 600;
        font-size: small;
    }
    .img-header-container{
        display: grid;
        text-align: center;
        margin: 0 auto;
        box-shadow: 60px 10px 50px 70px white inset;
       
        width: 700px;
        height: 450px;
        margin-top: 10px;
        margin-right: 10px;
      
    }


  
   

}