.navbar-ok{
    height: 60px;
    background-color: black;
    z-index: 120;
}
    
 

    a{
        font-weight: 600;
       
    }

    .links{
        color: white;
    }


    .navbar-sticky-ok{
        /*position: fixed;*/
      /*  height: 40px;*/
      background-color: black;
        z-index: 110;
        width: 100%;
             
        
    }

 #menu-desplegable{
    background-color: black;
 }

 .links{
    background-color: black;
 }
 .me-auto{
    background-color: black;
 }

    @media screen and (min-width: 1000px) {

        .navbarNormal{
            height: 60px;
            background-color: black;
            z-index: 101;
        }
            
              /* .navbarNormal {
           
                display: flex;
                justify-content: space-evenly;
               
                
                align-items: flex-end;
                height: 60px;
                
            }*/
        
         
        
            a{
                font-weight: 600;
               
            }
        
            .links{
                color: white;
            }
        
        
           /* .navbar-sticky{
              
                
                height: 60px;
                width: 100%;
                background-color: black;    
                z-index: 101;
                     
                
            }*/
        
            .navbar-sticky-ok{
                position: fixed;
                height: 40px;
                background-color: black;
                z-index: 101;
                width: 100%;
                     
                
            }

        }
