.App {
  text-align: center;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}


main{/*.container*/
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}

main{
  text-align: center;
}

a:link, a:visited, a:active {
  text-decoration:none;
}

@media screen and (min-width: 1000px) {

  .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr 80px;
  }

  header{
    grid-column: 1/5;
    grid-row: 1/2;
  }

  main{
    grid-column: 1/5 ;
    grid-row: 2/4;
    
  }

  footer{
    grid-column: 1/5;
    grid-row: 4/5;
  }

  }