.App {
  text-align: center;
  background-color: black;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

li {
  list-style: none;
}


main{/*.container*/
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  
}


main{
  text-align: center;

}

a:link, a:visited, a:active {
  text-decoration:none;
}

@media screen and (min-width: 1000px) {

  .content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr 80px;
    background-color: black;
   /* min-height: 950px;*/
  }

  header{
    grid-column: 1/5;
    grid-row: 1/2;
  }

  main{
    grid-column: 1/5 ;
    grid-row: 2/4;
    min-height: 750px;
    
    
  }

  .footer{
    grid-column: 1/5;
    grid-row: 4/5;
    
    
  }

  }